<div *ngIf="state" class="text-center">
  <div [ngStyle]="{ color: color() }" *ngIf="!isPlayerTurn">PLAYER {{ playerID }}</div>
  <div [ngStyle]="{ color: color() }" class="font-bold" *ngIf="isPlayerTurn">> PLAYER {{ playerID }}</div>
  <div *ngIf="instruction && isPlayerTurn">{{ instruction }}</div>

  <table class="m-2">
    <tr *ngFor="let _ of [].constructor(state.board.size); let i = index">
      <td *ngFor="let _ of [].constructor(state.board.size); let j = index" class="p-2">
        <div [ngStyle]="{ backgroundColor: colorAt(i, j) }"
             class="w-12 h-12" [class.border-2]="!board[i][j]?.player">
          <button class="w-full h-full" (click)="onClick(index(i, j))">
            <div class="flex items-center justify-center" *ngIf="board[i][j]">
              <app-pawn [pawn]="board[i][j].pawn" size="xl"></app-pawn>
            </div>
          </button>
        </div>
      </td>
    </tr>
  </table>

  <div *ngIf="ctx.phase === 'place'" class="w-full flex items-center justify-evenly">
    SELECT
    <button mat-stroked-button *ngFor="let pawn of pawnToPlace"
            [class.bg-gray-300]="pawn === selectedPawn"
            (click)="select(pawn)">
      <div class="py-2">
        <app-pawn [pawn]="pawn" size="xxl"></app-pawn>
      </div>
    </button>
  </div>
</div>
