<div *ngIf="state" class="text-center">

  <div class="w-full h-full flex flex-col">
    <div class="w-full p-2">
      <div [ngStyle]="{ color: color() }" class="font-bold">PLAYER {{ playerID }}</div>
    </div>

    <mat-divider></mat-divider>

    <div class="w-full">
      <table class="m-2" *ngIf="board">
        <tr *ngFor="let _ of [].constructor(state.board.size); let i = index">
          <td *ngFor="let _ of [].constructor(state.board.size); let j = index" class="p-2">
            <div [ngStyle]="{ borderColor: borderColorAt(i, j), backgroundColor: backgroundColorAt(i, j) }"
                 class="w-12 h-12 border-2">
              <button class="w-full h-full" (click)="onClick(index(i, j))" (mouseenter)="onEnter(index(i, j))"
                      (mouseleave)="onLeave(index(i, j))">
                <div class="flex items-center justify-center" *ngIf="board[i][j]">
                  <app-pawn [pawn]="board[i][j].pawn" size="xl"></app-pawn>
                </div>
              </button>
            </div>
          </td>
        </tr>
      </table>
    </div>

    <mat-divider></mat-divider>

    <div class="w-full flex flex-col items-center p-2">
      <div *ngIf="instruction">{{ instruction }}</div>
      <div class="w-full flex items-center justify-evenly p-2" *ngIf="ctx.phase === 'place'">
        <button mat-stroked-button *ngFor="let pawn of pawnToPlace"
                [class.bg-gray-300]="pawn === selectedPawn"
                (click)="select(pawn)">
          <div class="py-2">
            <app-pawn [pawn]="pawn" size="xxl"></app-pawn>
          </div>
        </button>
      </div>
    </div>
  </div>
</div>
