<div *ngIf="state" class="text-center">
  <div [ngStyle]="{ color: color() }">PLAYER {{ player }}</div>

  <table>
    <tr *ngFor="let _ of [].constructor(state.board.size); let i = index">
      <td *ngFor="let _ of [].constructor(state.board.size); let j = index">
        <button class="w-full h-full" (click)="onClick(index(i, j))">
          <app-cell [cell]="board[i][j]"></app-cell>
        </button>
      </td>
    </tr>
  </table>

  <div *ngIf="ctx.phase === 'place'" class="w-full flex justify-evenly">
    <button *ngFor="let pawn of pawnToPlace"
            [class.bg-gray-300]="pawn === selectedPawn"
            (click)="select(pawn)">
      <app-pawn [pawn]="pawn"></app-pawn>
    </button>
  </div>
</div>
